.verticalline {
    border-left: thick solid black;
    margin-left: 10px;
    background-image: url(/phogra_logo.png);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 60%;
    float: right;
}

.title {
    font-family: garamond;
    font-size: 18pt;
}

li a {
    display:block;
    padding: 8px;
    color:black;
    font-family: garamond;
}

li {
    float: right;
    font-size: 25pt;
    margin-right: 20px;
    margin-top: 40px;
}

body {
    background-color: linen;
}

.borderlist {
    list-style-position:inside;
    border: 5px solid black;
}

div
        {
        margin-right:8px;
        padding:5px;
        float:left;
        }

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.box-shadow {
    border:2px solid;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 5px 10px #888888;
}

.photomargin {
    margin-right: 100px;
}

.rowAM {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .columnaboutme {
    -ms-flex: 50%;
    flex: 25%;
    max-width: 35%;
    padding: 2%;
    margin-right: 2%;
  }

  .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0.25%
  }

  .column img {
    margin-top: 0%;
    vertical-align: middle;
    width: 100%;
  }

  .thumbnail:hover {
    position:relative;
    width:800px;
    height:auto;
    display:block;
    z-index:999;
}

img {
    border-radius: 8px;
  }

  .aboutmetext {
      font-size: 60pt;
      font-family: garamond;
  }

  p {
      font-size: 20pt;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


  /* * {
    box-sizing: border-box;
  } */
  
  .columnvideo {
    float: left;
    width: 75%;
    padding: 10px;
  }
  
  .clearvideo:after {
    content: "";
    display: table;
    clear: both;
  }

  div.gallery {
    margin: 5px;
    border: 2px solid pink;
    float: left;
    width: 500px;
  }
  
  div.gallery:hover {
    border: 1px solid black;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }